.root {
    -fx-base: #3d3d3d;
    -fx-background: #3d3d3d;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tree-view {
    -fx-background-insets: 0;
    -fx-background-color: rgb(30, 30, 30);
}

.tree-cell {
    -fx-background-color: rgb(30, 30, 30);
    -fx-text-fill: #ffffff;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: black;
}

.tree-cell:filled:selected {
    -fx-background-color: black;
}

.progress-indicator {
    -fx-max-height: 1em;
}

.progress-indicator .percentage {
    -fx-fill: null;
}

.progress-indicator {
    -fx-padding: 0 0 -16 0;
}

.split-pane > .split-pane-divider {
    -fx-background-color: rgb(30, 30, 30);
    -fx-padding: 0 0.1px, 0, 0.1px;
}

.styled-text-area {
    -fx-padding: 0.5em;
}

.list-view * {
    -fx-text-fill: white;
    -fx-fill: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-control-inner-background: rgb(45, 45, 45);
    -fx-control-inner-background-alt: rgb(45, 45, 45);
}

.list-cell {
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-color: rgb(45, 45, 45);
}

.list-cell:filled:selected {
    /* 4: (Styling when out of focus)*/
    -fx-background-color: black;
}

#SyncStatus {
    -fx-padding: 5px;
    -fx-text-fill: grey;
    -fx-font-style: italic;
}

#repoList {
    -fx-background-color: rgb(45, 45, 45);
}

.password-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #2a2a2a, transparent, #2a2a2a;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-text-inner-color: white;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}