.root {
     -fx-base: white;
     -fx-background: white;
     -fx-control-inner-background: white;
     -fx-control-inner-background-alt: white;
-fx-focus-color: transparent;
-fx-faint-focus-color: transparent;
 }

 .progress-indicator .percentage {
     -fx-fill:null;
 }

 .progress-indicator  {
     -fx-padding: 0 0 -16 0;
 }