.styled-text-area .text {
    -fx-font-family: sans-serif;
    -fx-font-weight: normal;
    -fx-background-color: white;
}

.styled-text-area .inline {
    -fx-background-color: white;
}

.styled-text-area .h1 { -fx-font-size: 2em; }
.styled-text-area .h2 { -fx-font-size: 1.75em; }
.styled-text-area .h3 { -fx-font-size: 1.5em; }
.styled-text-area .h4 { -fx-font-size: 1.25em; }
.styled-text-area .h5 { -fx-font-size: 1.1em; }
.styled-text-area .h6 { -fx-font-size: 1em; }

.styled-text-area .h1,
.styled-text-area .h2,
.styled-text-area .h3,
.styled-text-area .h4,
.styled-text-area .h5,
.styled-text-area .h6 {
	-fx-font-weight: bold;
	-fx-fill: #c62828;
}

.styled-text-area .code {
	-fx-font-weight: bold;
    -fx-fill: #c62828;
    -fx-font-family: monospace;
}

.styled-text-area .emphasis {
	-fx-font-weight: bolder;
}

.styled-text-area .code-block {
    -fx-font-family: monospace;
    -fx-font-weight: bold;
    -fx-background-color: grey;
}