.styled-text-area {
    -fx-background-color: rgb(20, 20, 20);
    -fx-fill: white;
}

.styled-text-area .caret {
    -fx-stroke: white;
}

.styled-text-area .text {
    -fx-font-family: sans-serif;
    -fx-font-weight: normal;
    -fx-fill: white;
}

.styled-text-area .h1 { -fx-font-size: 2em; }
.styled-text-area .h2 { -fx-font-size: 1.8em; }
.styled-text-area .h3 { -fx-font-size: 1.6em; }
.styled-text-area .h4 { -fx-font-size: 1.4em; }
.styled-text-area .h5 { -fx-font-size: 1.2em; }
.styled-text-area .h6 { -fx-font-size: 1em; }

.styled-text-area .h1,
.styled-text-area .h2,
.styled-text-area .h3,
.styled-text-area .h4,
.styled-text-area .h5,
.styled-text-area .h6 {
	-fx-font-weight: bold;
	-fx-fill: rgb(200, 118, 50);
}

.styled-text-area .code {
    -fx-fill: #F8F8F2;
    -fx-font-family: monospace;
}

.styled-text-area .scala-class {
    -fx-font-family: monospace;
    -fx-fill: #AE81FF;
}

.styled-text-area .scala-method {
    -fx-font-family: monospace;
    -fx-fill: #66D9EF;
}

.styled-text-area .scala-func {
    -fx-font-family: monospace;
    -fx-fill: #66D9EF;
}

.styled-text-area .scala-keyword {
    -fx-font-family: monospace;
    -fx-fill: #FD971F;
}

.styled-text-area .scala {
    -fx-font-family: monospace;
    -fx-fill: #F92672;
}

.styled-text-area .emphasis {
	-fx-font-weight: bolder;
}

.styled-text-area .code-block {
    -fx-font-family: monospace;
    -fx-fill: #F8F8F2
}

.styled-text-area .bullet {
    -fx-fill: #AA0D91;
    -fx-font-weight: bolder;
}

.styled-text-area .number {
    -fx-fill: #AA0D91;
    -fx-font-weight: bolder;
}

.styled-text-area .quote-block {
    -fx-fill: #FC6A5D;
}

.styled-text-area .link {
    -fx-fill: #1E91D6;
}